<!--
<h4>
  <span id="display-name"></span>님 환영한다
</h4>
<div class="contents">
  <label for="username">사용자명</label>
  <input id="username" type="text"/>
  <button type="button">입력</button>
</div>

<h4>
  <span>{{userName}}</span>님 환영한다
</h4>
<div class="contents">
  <label for="userName">사용자명 : </label>
  <input id="userName" name="userName" type="text" #nameInput (keyup)="onKeyUp(nameInput.value)"/>
  <button type="button" (click)="setName(nameInput.value)">입력</button>
</div>
-->
<h1>다국어 인사 서비스</h1>
<app-greeting-msg></app-greeting-msg>
<app-lang-selector></app-lang-selector>
